/* section {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
section .container {
    scroll-snap-align: start;
} */
section {
    height: 100vh;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
}
.landing {
    background-image: url(../images/landing-bg.jpg);
    background-size: cover;
    background-position: center center;
}
.date {
    background-image: url(../images/invitation-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    overflow: auto;
}
.display-t {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: center;
  min-height: 100vh;
  padding-bottom: 80px;
  overflow: hidden;
}
.display-t-over {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: center;
  height: 120vh;
  padding-bottom: 80px;
}
.display-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: center;
  height: 100vh;
  padding-bottom: 80px;
}
@keyframes fadeInUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
  
.fadeInUp-animation {
    animation: 2s fadeInUp;
}
.fadeIn-animation {
    animation: 2s fadeIn;
}
.display-tc h1 {
    margin: 0;
    padding: 0;
    color: black;
}
.display-tc h1 {
    margin-bottom: 20px;
    line-height: 1.3;
    font-family: "Great Vibes", cursivel;
}
.banner-text {
    color: #000;
}
.banner-text_date {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 40px;
    line-height: 43px;
    position: relative;
}
.banner-text_date h6 {
    margin-top: 80px;
}
.banner-text_address {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 40px;
    line-height: 43px;
    position: relative;
}
.banner-text_countdown {
    border-top: 2px solid #b7aa75;
    margin-top: 20px;
    padding-top: 20px;
}
.banner-text_countdown .countdown {
    font-size: 24px;
}
.banner-text_schedule {
    border: 2px solid #b7aa75;
    padding: 20px 0;
}
.banner-text_button {
    margin-top: 50px;
}
.banner-text_button span {
    background: #000;
    color: #b7aa75;
    border-radius: 7px;
    padding: 10px 15px 12px 15px;
    font-weight: 700;
}
.margin-top {
    margin-top: 20px;
}
.banner-text_schedule h1 {
    margin: 0;
}
.banner-text_schedule .border-t {
    border-top: 2px solid #b7aa75;
    margin-top: 4px;
    padding-top: 4px;
}
.banner-text_schedule .detail-address {
    margin-top: 20px;
}
.banner-text_schedule .embed-maps {
    margin-top: 20px;
}

.great-vibes {
    font-family: "Great Vibes", cursivel;
}
.playwrite-au-qld {
    font-family: "Playwrite AU QLD", cursive;
}
.font-14 {
    font-size: 14px;
}
.banner-text_invitation h2 {
    font-family: "Open Sans", sans-serif;
    margin-bottom: 60px;
}
.banner-text_invitation .text {
    padding: 20px 0;
    margin: 0;
}
.banner-text_invitation h6 {
    font-weight: 600;
    border-bottom: 2px solid #b7aa75;
    padding-bottom: 12px;
}
#openDirection {    
    background: #000;
    color: #b7aa75;
    border-radius: 7px;
    padding: 10px 15px 12px 15px;
    font-weight: 700;
}
.padding-b-20 {
    padding-bottom: 20px;
}
.audio-player {
    position: fixed;
    bottom: 80px;
    left: 6px;
    font-size: 24px;
}
.photos {
    margin-bottom: 20px;
}
.photos .name {
    text-align: left;
    padding: 0;
}
.photos .name .border-c {
    height: 10px;
    border-bottom: 2px solid #b7aa75 !important;
    margin-left: -15px;
    margin-bottom: 10px;
}
.border-center {
    width: 100%;
    position: relative;
}
.border-center:before {
    content: '';
    position: absolute;
    bottom: 50%;
    border-bottom: 2px #b7aa75 solid;
    width: 100%;
    z-index:0;
}
.photos-img {
    border-radius: 16px;
    box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.3);
}